<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <title>管理所有的上传文件</title>
</head>
<body>

    <h1>上传文件！（暂时仅支持txt/json）</h1>
    <form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>


<h1>管理所有的上传文件</h1>
    <table border = 1>
        {% for filename in files_list %}
            <tr>
                <th> {{ filename }} </th>
                <td> <a href="{{ url_for('download',_external=True,filename=filename) }}">下载</a> </td>
                <td> 删除 </td>
                <td> <a href="{{ url_for('convert_file',_external=True,filename=filename) }}">转换成.po文件</a> </td>
            </tr>
         {% endfor %}
    </table>
<h2>已经转换成.po的文件</h2>
    <table border = 1>
        {% for cname in cfiles_list %}
            <tr>
                <th> {{ cname }} </th>
                <td> <a href="{{ url_for('download',_external=True,filename=cname) }}">下载</a> </td>
                <td> <a href="#">删除</a> </td>
                <td> <a href="{{ url_for('count_file',_external=True,filename=cname) }}">查看PO统计信息</a> </td>
            </tr>
         {% endfor %}
    </table>


</body>
</html>